
/*Styling for elements in the body of the html*/

body { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

a {
   color:aliceblue;
}

/*Styling for header information*/

.header {
    padding-top: 15px;
    margin-right: 20px;
    width:100%;
    font-size: 20px;
}

h1 {
    display: inline;
    font-size: 20px;
    color: greenyellow ;
}

.company-name {
    float:left; 
 }

nav {
    display: inline-block;
    float:right;
    

}
menu {
      background-color:rgb(105, 35, 62);
    padding: 25px;   
    }

   

   /*Styling images*/

.Hotwells {
    float: right;
}

 img {
    width:100%;
 }


/*Styling the Form*/
form {
 position:relative;
display:inline;
padding: 10px;

width: 740px;
height: 498px;
margin: 0 auto;
padding: 1em;
box-sizing: border-box;

}

.form-elements {
    float:right;
    padding: 5px;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;}

/*Styling the footer*/
footer {
   position:relative; 
   bottom: 0px;
   padding: 20px;
   
   background-color: rgb(105, 35, 62);
   color:aliceblue;
}